* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    display: grid;
    grid-template-rows: auto 1fr;
}


.nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100px;
    background-color: white;
}

nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    height: 100px;
    top: 0;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
}

.btns-sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}



.bell {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

}

a {
    text-decoration: none;
}



#sidebtn {
    background-color: rgb(243, 243, 243);
    color: rgb(148, 148, 148);
    border: none;
    width: 39px;
    height: 39px;

    border-radius: 50%;
    margin-left: -17px;
}

#sidebtn:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 50%;

}

#sidebtn .bars {
    font-size: 23px;
}

#logo {
    display: flex;
    height: 30px;
    width: 160px;
    font-size: 17px;
    border: none;
    color: red;
    margin-top: -37px;
    background-color: white;
    margin-left: 15px;
    text-decoration: none;
}

#logo i {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 27px;

}

.mid-nav {
    display: flex;
    width: 100%;
    justify-content: center;

}

.rigth-nav {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 40px;
}


.rigth-nav .bell {
    font-size: 30px;
    color: black;
    margin-top: 10px;
}

.rigth-nav .gift {
    font-size: 30px;
    color: black;
    margin-top: 10px;
}

input {
    width: 37%;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 12px;
    border: 1px solid rgb(216, 216, 216);
    margin-top: 10px;

}

#search {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    border-left: none;
    border: 1px solid rgb(226, 226, 226);
    color: rgb(126, 126, 126);
    width: 70px;
    height: 40px;
    margin-top: 10px;
}

#mic {
    margin-top: 9px;
    margin-left: 20px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
}

i {
    font-size: 20px;
}


.main {
    display: flex;

}


.left-btns.activex {
    width: 255px;
    transition: 0.3s;
    background-color: #ffffff;
    position: fixed;
    height: auto;
    top: 110px;
    margin-top: -10px;
    z-index: 10;
}


.left-btns {
    position: sticky;
    height: 20%;
    top: 110px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    transition: 0.3s;
    margin-top: 150px;

}



.left-btn {
    font-size: 14px;
    margin-left: 39px;
    margin-right: 25px;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #2e2e2e;
    background-color: white;
    padding-top: 5px;
    gap: 10px;
    border-radius: 10px;
    margin-top: -10px;
    z-index: 10;
}

.margin {
    margin-left: 400px;
}

.left-btn:hover {
    background-color: #dddddd;
}

.left-btn-new {
    display: inline;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 200px;
    padding-top: -20px;
    padding-right: 90px;
    margin-left: 25px;
}

#kapsayici-left-btn {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 100px;
    left: 0;
}


h3 {
    padding-top: 10px;
    text-align: left;
    margin-left: 6px;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -20px;
    color: #292929;
}

h3::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 1.3px;
    background-color: rgb(199, 199, 199);
    margin-top: -15px;
    margin-left: -15px;
}


.arr {
    font-size: 15px;
    margin-left: 5px;
}

.left-btns2 {
    display: none;
}

.left-btns2-content {
    margin-top: -25px;
    font-size: 15px;
    gap: 10px;
    display: flex;
    align-items: center;
    word-spacing: 1px;
    letter-spacing: px;
    color: #333333;
    height: 33px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    padding-left: 8px;
}

.left-btns2-content:hover {
    background-color: #dddddd;
}

.emoji {
    font-size: 21px;
    color: rgb(54, 54, 54);
}

.left-btns3 {
    display: none;
}

.activex4 {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 11px;
    justify-content: center;
    margin-top: 4px;
}

.left-btn3 {
    margin-left: 20px;
    padding-left: 10px;
    display: flex;
    color: #292929;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: -7px;
    height: 40px;
    border-radius: 5px;
    height: 35px;
    width: 200px;
}


.left-btn3:hover {
    background-color: #dddddd;
}


.left-btns3 h3::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 1.3px;
    background-color: rgb(199, 199, 199);
    margin-top: -10px;
    margin-left: -20px;
}



.left-btn3 img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
}

.premium {
    margin-left: -5px;
    margin-top: -14px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    background-color: white;
}

.premium h3::before {
    margin-left: -105px;
}

.premium-a {
    width: 260px;
    font-size: 27px;
    color: rgb(22, 22, 22);
    font-weight: bold;

}

.tub {

    margin-left: 30px;
    color: red;
    background-color: white;
    font-size: 32px;
}



.activex3 {
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 25px;
}



#project-button {
    width: 150px;
}

.active {
    color: white;
    background-color: #0f0f0f;
}

a.hide {
    display: none;
}


.container {
    width: 100%;
    display: flex;
    height: 1500px;
    margin: auto;
    z-index: -10;
    margin-left: 50px;
    gap: 20px;
}

.videocard {
    width: 70%;
    height: 100%;
}

.video {
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

.video2 {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

h2 {
    margin-top: 20px;
    font-size: 22px;
    margin-left: 2px;
}

.video-img {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

.videobtnsrigth {
    display: flex;
    gap: 10px;
    margin-right: 20px;
    margin-top: 3px;

}

.video-content {
    display: flex;
    justify-content: space-between;

}

.videobtnsrigth button {
    width: auto;
    height: 35px;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
    padding-right: 15px;
}

.active {
    color: white;
    background-color: #0f0f0f;
}

.video-img img {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 10px;
}

.img-content {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 5px;
    color: #0f0f0f;
}

.subscribebtn {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    width: 180px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;

}

.videodocument {
    margin: auto;
    height: 100%;
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(217, 217, 217);
    width: 97%;
    margin-top: 20px;


}

.videodocument p {
    font-size: 18px;
    margin: 15px;
    margin-top: 20px;
    padding-top: 10px;
    color: #1a1a1a;
    height: 100%;
}

.document-video {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    height: 100%;
}

.document-video img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 5px;
}

.dev {
    font-weight: bold;
    padding-top: 1px;
    padding-left: 6px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    width: 125px;
    min-width: 125px;
    height: 21px;
    background-color: rgb(140, 140, 140);
    color: rgb(255, 255, 255);
}

.content2 {
    display: flex;
}

.comments {
    width: 90%;
    margin-top: 20px;
    margin-left: -132px;
    font-size: 18px;
}

.likesbutton {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: -130px;
    width: 90px;
    background-color: white;

}

.like {
    font-size: 20px;
    height: 30px;
    border-radius: 15px;
    border: none;

}

.like i {
    font-size: 25px;
    background-color: white;
}


.main2 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttons-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-left: -40px;

}

.buttons-main button {
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    border: none;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
}

.mainvideos {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
}

.mainvideo {}

.videobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;

}

.videobox video {
    border-radius: 15px;
    min-width: 340px;
    height: 200px;
}



.videoboxdocumnet {
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 15px;
}







@media screen and (max-width:1750px) {}

.left-btns {
    margin-top: -160px;
}

@media screen and (max-width:1300px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .videocard {
        width: 100%;
    }

    .main2 {
        width: 100%;
        margin-top: auto;
        margin-top: 360px;
        height: auto;
    }

    .mainvideos {
        display: flex;
        width: 114%;
        height: auto;
        margin-left: -154px;
    }

    .mainvideo {
        width: 40%;
        border-radius: 75px;
    }
}