* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.nav {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.left-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
}



.btns-sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}



.bell {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}



#sidebtn {
    background-color: rgb(235, 235, 235);
    color: rgb(85, 85, 85);
    border: none;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    margin-left: -20px;
}

#sidebtn:hover {
    background-color: rgb(219, 219, 219);
    border-radius: 50%;

}

#sidebtn .bars {
    font-size: 25px;
}

#logo {
    display: flex;
    height: 30px;
    width: 160px;
    font-size: 17px;
    border: none;
    color: red;
    margin-top: -7px;
    background-color: white;
    margin-left: 10px;
    text-decoration: none;
}

#logo i {
    margin-top: 5px;
    font-size: 27px;

}

.mid-nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

.rigth-nav {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 40px;
}


.rigth-nav .bell {
    font-size: 30px;
    color: black;
}

.rigth-nav .gift {
    font-size: 30px;
    color: black;
}

input {
    width: 37%;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 12px;
    border: 1px solid rgb(177, 172, 172);

}

#search {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    border-left: none;
    border: 1px solid rgb(177, 172, 172);
    width: 70px;
    height: 40px;
}

#mic {
    margin-left: 20px;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    margin-top: -4px;
}

i {
    font-size: 20px;
}


.main {
    display: flex;
}


.left-btns.activex {
    width: 200px;
    transition: 0.3s;
}


.left-btns {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    transition: 0.3s;
}

.left-btns button {
    margin-left: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h3 {
    padding-top: 40px;
    text-align: left;
    margin-left: 50px;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -20px;

}

h3::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 1.3px;
    background-color: rgb(199, 199, 199);
    margin-top: -40px;
    margin-left: -20px;
}


.arr {
    font-size: 15px;
    margin-left: 5px;
}

.left-btns2 {
    display: none;

}

.left-btns2-content {
    margin-top: -15px;
    font-size: 17px;
    gap: 20px;
    display: flex;
    align-items: center;
    word-spacing: 1px;
    letter-spacing: px;
    color: #333333;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    margin-left: 40px;
    padding-left: 10px;
}

.left-btns2-content:hover {
    background-color: rgb(211, 211, 211);
}

.emoji {
    font-size: 23px;
    color: rgb(54, 54, 54);
}

.radar {
    font-size: 15px;
    color: red;
}

.activex3 {
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 25px;

}

.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 35px;
    margin-left: 5px;
}


.filter_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.active {
    color: white;
    background-color: #0f0f0f;
}

a.hide {
    display: none;
}


.filter_buttons button {
    border: none;
    width: 85px;
    height: 32px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.4s;
    font-weight: bold;
}

.filter_buttons button:hover {
    background-color: #5c5c5c;
    color: white;
    transition: 0.4s;
}

#project-button {
    width: 150px;
}


.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cards-content {
    width: 19%;
    text-decoration: none;
}

.cards-content video {
    width: 100%;
    border-radius: 10px;
}

.card_body {
    display: flex;
}


#card-img {
    width: 33px;
    height: 33px;
    border-radius: 50%;

}

.card_text {
    color: #0f0f0f;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 15px;

}

.card-text2 {
    margin-left: 15px;
    color: #6b6b6b;
}


@media screen and (max-width:1750px) {
    .cards-content {
        width: 24%;
    }

}



@media screen and (max-width:1500px) {
    .cards-content {
        width: 31%;
    }

}


@media screen and (max-width:1050px) {
    .cards-content {
        width: 48%;
    }


}

@media screen and (max-width:850px) {

    .row {
        margin-left: 50px;
    }

    .filter_buttons {
        margin-left: 70px;
    }

    .left-btns {
        display: none;
    }

    .rigth-nav .bell {
        font-size: 25px;

    }

    .rigth-nav .gift {
        font-size: 25px;
    }

    #mic {
        margin-top: 5px;
        width: 35px;
        height: 35px;
    }

}



@media screen and (max-width:750px) {
    .cards-content {
        width: 89%;
    }



    .rigth-nav .bell {
        font-size: 23px;
        margin-left: 11px;
    }

    .rigth-nav .gift {
        font-size: 23px;
    }
}

@media screen and (max-width: 630px) {
    #mic {
        margin-top: 10px;
        width: 25px;
        height: 25px;
    }

    .rigth-nav .bell {
        margin-top: 5px;
        font-size: 19px;
        margin-left: 11px;
    }

    .rigth-nav .gift {
        margin-top: 5px;
        font-size: 19px;
    }
}